.name {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 45px;
	padding: 10px;
	padding-left: 25px;
	color: #70635b;
	letter-spacing: -5px;
}

.title {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	color: #70635b;
	margin-top: -43px;
	margin-left: 310px;
	text-transform: uppercase;
}

.header {
	background-color: #e1c7b6;
	height: 80px;
	margin: auto;
}

.intro-box {
	background-color: #e1b6bb;
	margin: auto;
	width: 500px;
	height: 330px;
	margin-top:250px;
	border-radius: 10px;
}

.intro {
	padding: 60px;
	font-size: 12px;
	text-align: justify;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #5a484a;
}

.avatar {
	border-radius: 100%;
	border: #e1b6bb 8px solid;
	width: 150px;
	height: 150px;
	margin: -700px 0px 200px 170px;

}

.horizontal-line {
	width: 300px;
	border-top: #5a484a 1px solid;
	border-bottom: none;
	border-right: none;
	border-left: none;
	margin-top: -50px;
}

.resume-logo {
	width: 70px;
	margin-top: 10px;
	margin-left: 130px;
}

.linkedin-logo {
	width: 70px;
	margin-left: 10px;
}

.github-logo {
	width: 70px;
	margin-left: 10px;
}

.window {
	overflow: scroll;
	height: 780px;
}

.projects-box {
	background-color: #e1b6bb;
	margin: auto;
	width: 500px;
	height: 330px;
	margin-top:250px;
	border-radius: 10px;
	margin-bottom: 250px;
}







