.intro-box {
	background-color: #e1b6bb;
	margin: auto;
	width: 500px;
	height: 300px;
	margin-top:250px;
}

.intro {
	padding: 60px;
	font-size: 12px;
	text-align: justify;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #5a484a;
}

.avatar {
	border-radius: 100%;
	border: #e1b6bb 8px solid;
	width: 150px;
	height: 150px;
	margin: -700px 0px 200px 175px;

}
